#version=RHEL8
# Use graphical install
graphical

repo --name="AppStream" --baseurl=http://{{ SERVER_IP }}/{{ MENU_DISTRO }}/AppStream

%packages
@^minimal-environment
aide
audit
fapolicyd
firewalld
opensc
openscap
openscap-scanner
openssh-server
openssl-pkcs11
policycoreutils
rng-tools
rsyslog
rsyslog-gnutls
scap-security-guide
tmux
usbguard
-abrt
-abrt-addon-ccpp
-abrt-addon-kerneloops
-abrt-addon-python
-abrt-cli
-abrt-plugin-logger
-abrt-plugin-rhtsupport
-abrt-plugin-sosreport
-iprutils
-krb5-workstation
-rsh-server
-sendmail
-telnet-server
-tftp-server
-tuned
-vsftpd

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network --device=eno1 --hostname=rhel-kvm --bootproto=static --ip=10.0.0.32 --netmask=255.255.255.192 --gateway=10.0.0.1 --nameserver=10.0.0.1


# Use network installation
url --url="http://{{ SERVER_IP }}/{{ MENU_DISTRO }}/"

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=nvme0n1
# Partition clearing information
zerombr
clearpart --all --initlabel
# Disk partitioning information
part pv.642 --fstype="lvmpv" --ondisk=nvme0n1 --size=296968
part /boot/efi --fstype="efi" --ondisk=nvme0n1 --size=10240 --fsoptions="umask=0077,shortname=winnt"
part /boot --fstype="xfs" --ondisk=nvme0n1 --size=10240
volgroup rhel --pesize=4096 pv.642
logvol /var/log/audit --fstype="xfs" --size=20480 --name=var_log_audit --vgname=rhel
logvol /var --fstype="xfs" --size=102400 --name=var --vgname=rhel
logvol swap --fstype="swap" --size=10240 --name=swap --vgname=rhel
logvol /tmp --fstype="xfs" --size=20480 --name=tmp --vgname=rhel
logvol /var/tmp --fstype="xfs" --size=10240 --name=var_tmp --vgname=rhel
logvol /var/log --fstype="xfs" --size=20480 --name=var_log --vgname=rhel
logvol /home --fstype="xfs" --size=10240 --name=home --vgname=rhel
logvol / --fstype="xfs" --size=102400 --name=root --vgname=rhel

# System timezone
timezone America/Chicago --isUtc

# Root password
rootpw --iscrypted $6$mAy/MO4Nq4yoRePI$4LMRoJm4CYj11MwP7lT/7wbAaPnJBssWQILs1x5yVJ48R9CvYvQ3HQK9l4.Eynq6/M4T8hfQmvZ6os4jFPlXZ1
user --groups=wheel --name=jwells --password=$6$Y61WJcW6XDKNjDtC$gd1qroTF/jABxRkEAxEOMSHTGT/EBKF9AjnzwNGH47GH.17Qg7e7KJ7QB.5hPTBeiS1yhz5BRTy43HYcDu4Dl/ --iscrypted --gecos="Jonathon Wells"

%addon org_fedora_oscap
    content-type = scap-security-guide
    profile = xccdf_org.ssgproject.content_profile_stig
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
